{% extends 'Cuenta.html'%}
{% block content%}
{% if messages %}
<ul class="messages">
       {% for message in messages %}
       <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
       {% endfor %}
</ul>
{% endif %}
<H1>PAGO DE PLANILLA</H1>
    <hr class="linea1">
        <h3>Carga Masiva de Empleado a Planilla</h3>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" >CARGAR</button>
        </form>
        <hr class="linea1"><br><br>
{% endblock %}