{% extends 'Cuenta.html'%}
{% block content%}
{% if messages %}
<ul class="messages">
       {% for message in messages %}
       <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
       {% endfor %}
</ul>
{% endif %}
<H1>PAGO DE PLANILLA</H1>
    <hr class="linea1">
        <h3>Agrega a un Empleado a Planilla</h3>
        <form method="POST">
            {% csrf_token %}

            <button type="submit" name="agregar" value='1'>AGREGAR</button>
            <button type="submit" name="archivo" value='2'> CARGAR ARCHIVO CSV</button>
        </form>
        <hr class="linea1"><br><br>
        <table class="table table-bodered">
            <thead>
                <tr>
                    <td>No. CUENTA</td>
                    <td>NOMBRE</td>
                    <td>MONTO APAGAR</td>
                    <td>FORMA DE PAGO</td>
                    <td>OPCIONES</td>
                </tr>
            </thead>
            <TBOdy>
                {% if datos %}
                {% for datos in datos %}
                <tr>
                    <td>{{ datos.cuenta}}</td>
                    <td>{{ datos.Nombre }}</td>
                    <td>{{ datos.MontoPago  }}</td>
                    <td>{{ datos.TiempoPago }}</td>
                    <td>
                        <a class="btn" href="{% url 'editPLa' datos.id %}">Editar</a>
                        <a class="btn" href="{% url 'Deletplan' datos.id %}">Eliminar</a>
                        <a href="{% url 'pagoplan' datos.id %}">Pagar</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                    <h2>No se encontraron registros Proveedores</h2>
                {% endif %}
            </TBOdy>
        </table>    

{% endblock %}