{% extends 'Cuenta.html'%}
{% block content%}
{% if messages %}
<ul class="messages">
       {% for message in messages %}
       <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
       {% endfor %}
</ul>
{% endif %}
<H1>SOLICITUD DE PRESTAMO</H1>
    <hr class="linea1">
        
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit"  value='1'> enviar solicitud </button>
        </form>
    <hr class="linea1">

{% endblock %}