{% extends 'Cuenta.html'%}
{% block content%}
<h1 class="tl">SOLICITUD DE PRESTAMO</h1>
<hr class="linea1">
<div class="serv">
   
    
   <caption>
    <form method="get" action="{% url 'EstadoCuenta' %}">
         <label for="Nombre">Nombre:</label>
         <input type="text" autofocus="" name="receptor" placeholder="Ingrese su Nombre ">
         <label for="monto">Apellido:</label>
         <input type="text" autofocus="" name="cheque" placeholder="Ingrese Su Apellido">
         <label for="Nombre">CUI:</label>
         <input type="text" autofocus="" name="receptor" placeholder="Ingrese el Cui">
         <label for="emisor">Tiempo A Pagar: </label>
         <select name="Cobrar" id="cuentacobrar">
             <option value="">Seleccione una Cuenta</option>
             <option value="">Quincenal</option>
             <option value="">Mensual</option>
             <option value="">Trimestral</option>
         </select>
         <label for="monto">Comentario:</label>
         <input type="text" autofocus="" name="cui" placeholder="">

         <button type="submit">ENVIAR SOLICITUD</button>
    </form>
   
   </caption>

   <hr class="linea1">

</div><br>


{% endblock %}